body {
  background: white;
  font-size: 20px;
  color: #333;
  padding: 0;
  margin: 0;
}

#container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.bg {
  padding: 0px 30px 0px 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.loading {
  background: white;
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 2.5rem;
  top: 0;
  left: 0;
}

.loading p {
  margin: 0;
  padding: 0;
  font-weight: 700;
}

.konten {
  display: none;
}

.konten.show {
  display: block;
}
p.adult {
  filter: blur(3.5px);
  -webkit-filter: blur(3.5px);
  user-select: none;
}

.openContent {
  color: #2ebcff;
  cursor: pointer;
}

.openContent:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  color: #2ebcff;
  cursor: pointer;
}

.QuestAdult {
  display: none;
}

.QuestAdult.show {
  display: block;
}

input#QAdult {
    width: 60px;
    height: 20px;
}

.wrongQAdult {
  display:none;
  color:red;
  font-size:small;
}

.wrongQAdult.show {
  display:block;
}
